build:
  name: Build
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - |
      try
      {
        .\.yamato\build.ps1
      }
      catch
      {
        exit 1
      }
  artifacts:
    unsigned-ilrepack:
      paths:
        - Build/**
sign:
  name: Sign
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - |
      try
      {
        .\.yamato\sign.ps1 -yamato_sign_project_id $env:yamato_sign_project_id -yamato_sign_project_branch_name $env:yamato_sign_project_branch_name -yamato_sign_project_revision $env:yamato_sign_project_revision -yamato_sign_project_name $env:yamato_sign_project_name -yamato_token $env:YAMATO_TOKEN
      }
      catch
      {
        exit 1
      }
  artifacts:
    signed-ilrepack:
      paths:
        - Build/**
  variables:
    yamato_sign_project_id: 662
    yamato_sign_project_branch_name: ilrepack-project
    yamato_sign_project_revision: 23a7b317ec6e1124f52bbca6340d058052396362
    yamato_sign_project_name: ILRepack
  dependencies:
    - .yamato/yamato-config.yml#build
publish:
  name: Publish
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - |
      try
      {
        .\.yamato\publish.ps1 -stevedore_repository $env:STEVEDORE_REPOSITORY -stevedore_upload_tool_url $env:STEVEDORE_UPLOAD_TOOL_URL -ilrepack_version $env:GIT_TAG
      }
      catch
      {
        exit 1
      }
  variables:
    stevedore_repository: unity-internal
  triggers:
    expression: push.tag match "\d+\.\d+\.\d+(\.\d+)?"
  dependencies:
    - .yamato/yamato-config.yml#sign
PowershellTest1:
  name: PowershellTest1
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - |
      try
      {
        throw "Fun"
      }
      catch
      {
        exit 1
      }
PowershellTest2:
  name: PowershellTest2
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - exit 1
PowershellTest3:
  name: PowershellTest3
  agent:
    type: Unity::VM
    image: platform-foundation/windows-vs2019-bokken:latest
    flavor: b1.small
  interpreter: powershell
  commands:
    - throw "Fun"
